<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Artwork Management System</h1>
  <hr>
  <h2>Save Artwork</h2>

  <form action="#" th:action="@{/artworks-list/addArtwork}" th:object="${artwork}" method="POST">
    <input type="text" th:field="*{title}" placeholder="Artwork Title" class="form-control mb-4 col-4">

    <input type="text" th:field="*{description}" placeholder="Artwork Description" class="form-control mb-4 col-4">

    <input type="text" th:field="*{content}" placeholder="Artwork content" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Artwork</button>
  </form>

  <hr>

  <a th:href="@{/artworks-list}"> Back to Artwork List</a>
</div>
</body>
</html>