<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Artwork</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Artwork Management System</h1>
    <hr>
    <h2>Update Artwork</h2>

    <form action="#" th:action="@{/artworks-list/saveArtwork}" th:object="${artwork}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{title}" id="title" class="form-control mb-4">
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <textarea th:field="*{description}" id="description" class="form-control mb-4" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Content:</label>
            <div class="col-sm-10">
                <textarea th:field="*{content}" id="content" class="form-control mb-4" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Files:</label>
            <div class="col-sm-10">
                <div class="row">
                    <!-- Existing images with delete button -->
                    <div th:each="fileData, index : ${artwork.fileData}" class="col-6 mb-4">
                        <img th:src="${'/files/' + fileData.name}" alt="Artwork Image" class="img-fluid"/>
                        <a class="btn btn-danger mt-2" onclick="deleteImage(this)"
                           th:href="@{'/artworks-list/' + ${artwork.id} + '/deleteImage/' + ${fileData.id}}">Sil</a>
                    </div>
                    <!-- Button to add new image -->
                    <div class="col-6 mb-4">
                        <label for="newImage">Add New Image:</label>
                        <input type="file" id="newImage" name="newImage" class="form-control-file"/>
                        <button type="button" class="btn btn-success mt-2" id="addImageButton">Add</button>
                    </div>

                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-info col-2"> Update Artwork</button>
    </form>

    <hr>

    <a th:href="@{/artworks-list}" class="pb-4"> Back to Artwork List</a>
</div>
<script>
    function deleteImage(button) {
        if (confirm("Resmi silmek istediginize emin misiniz?")) {
            window.location.href = button.getAttribute('href');
        }
    }
</script>
</body>

</html>